:root {
  --modal-durarion: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: borderbox;
  font-size: 62.5%;
}

/* 토클  */
/* body안에 요소가 변환하면은 0.3초동안 서서히 그 변화가 일어난다 */
body {
  transition: transform 0.3s ease;
}
nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* -100%: This value specifies how far the element should be translated along the X-axis. A value of -100% means that the element will be moved to the left by 100% of its own width, effectively shifting it completely out of view to the left. */
  transform: translateX(-100%);
}

/* 속성값 */

body[show-nav] {
  transform: translateX(400px);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__toggle__button {
  position: absolute;
  left: 1.2rem;
  top: 1rem;
}

.header__title {
  margin: 2rem;
}

.header__subtitle {
  margin-bottom: 2rem;
}

/* 이 버튼을 노르면은 modal 창이 뜬다  */
.modal__button {
  border: 5px solid green;
  width: 100px;
  height: 30px;
  margin-bottom: 2rem;
}

/* top, left, right, bottom하면은 width, height가 100% 가 된다 */
/* 처음에는 display:none으로 해 놓아서 안보이게 하기  */
.modal__container {
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid blue;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*  그 후에 버튼(sign-up)을 누르면은 display:block으로 해서  modal-container가 보이게 하기*/
/* 버튼을 누르면은 show-momal클래스를 추가해준다 */
.modal__container.show-modal {
  display: block;
}
.modal {
  background-color: #fff;
  border: 5px solid red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  /* x축의 왼쪽으로 50%이동, y의 위쪽으로  50%이동*/
  transform: translate(-50%, -50%);
  animation-name: modalopen;
}

.modal__header {
  border: 5px solid blue;
  display: flex;
  justify-content: space-between;
  height: 2rem;
  background-color: var(--primary-color);
  color: white;
}

.modal__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-input {
  display: block;
  width: 100%;
  height: 1.5rem;
}

.form__submit {
  width: 50px;
  height: 25px;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
