* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* 1rem을 10px으로 만듬 */
  font-size: 62.5%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;

  margin-top: 1.5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.button-container button {
  white-space: nowrap;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}

/* infomation */
.info-container {
  display: flex;
  height: 500px;
  column-gap: 10rem;
  border: 5px solid black;
  position: relative;
  overflow: auto;
}

.info-container .person {
  font-size: 2rem;
}

.info-container .wealth {
  font-size: 2rem;
}

.person hr {
  margin: 0;
  display: inline-block;
  height: 2rem;
  width: 4.5rem;
  border: none;
  /* border: 5px solid black; */
}

/* 새롭게 append되는 정보 */
.profile {
  font-size: 1rem;
  font-weight: 700;
}

.money {
  font-size: 1rem;
  font-weight: 700;
}

.cal-result {
  font-size: 2rem;
  align-self: flex-end;
  border: 5px solid black;
}
