* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculate-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.exchange-before {
  position: relative;
}

.exchange-after {
  position: relative;
}
.swap-container {
  display: flex;
  justify-content: space-between;
}

input {
  /* flex-item으로 변했기 떄문에 width를 설정할 수 있다? */
  width: 100%;
  text-align: end;
}

select {
  position: absolute;
  top: 5px;
}
